<div class="page-header">
	<h3>Edit Company <%= @company.name %></h3>
</div>

<%= render 'form' %>

<ul class="pager back-button">
	<li><a href="/companies" role="button"> Back To Companies </a></li>
</ul>






