<div class="panel-header">
	<div class="row">	
		<div class="col-sm-6 header-col">
			<p class="header-title"> All Companies</p>
		</div>
		<div class="col-sm-6 header-col">
			<ul class="header-links">
				<li>
					<i class="fa fa-print" aria-hidden="true"></i>
					<a href="#">Print</a>
				</li>
				<li>	
					<i class="fa fa-plus-square-o" aria-hidden="true"></i>
					<a href="/companies/new">Add New Company</a>
					
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="panel-body ">

	<div class="filters">
		<div class="sort">
			<label>Sort:</label>
			<i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
			<i class="fa fa-sort-alpha-desc" aria-hidden="true"></i>
		</div>
		<div class="currency-filter">
			<label>Currency:</label>
			<select></select>
		</div>
	</div>

	<table class="table">
		<% @companies.each do |company| %>
		<tr>
			<td class="company-logo"><%= image_tag company.logo.url(:thumb), class: "img-rounded logo-img", style: 'width:40px; height:40px;' %></td>
			<td>
				<p class="company-name"><a href="<%= company_url(company.id) %>"><%= company.name %></a></p>
				<p class="directors"><%= company.directors %></p>
			</td>
			<td class="action"><a href="#">...</a></td>
		</tr>
		<% end %>
	</table>

</div>
