 <div class="panel-header">
 <div class="row">
      <div class="col-sm-6 header-col">
         <p class="header-title"> Create New Company</p>
      </div>
      <div class="col-sm-6 header-col">
         <ul class="header-links">
            <li>
               <a href="<%= companies_url %>">Cancel</a>
            </li>
         </ul>
      </div>
   </div>
 </div>

<%= render 'form' %>



