 <div class="panel-header">
 <div class="row">
      <div class="col-sm-6 header-col">
         <p class="header-title"> Edit Bank Account </p>
      </div>
      <div class="col-sm-6 header-col">
         <ul class="header-links">
				<li>
					<a href="/companies/<%= @company.id %>" data-confirm="Are you are you want to delete this company?" rel="nofollow" data-method="delete">
						<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
					</a>
				</li>
				<li><a href="/companies/<%= @company.id %>">Cancel</a></li>
			</ul>
      </div>
   </div>
 </div>

<%= render 'form' %>



