<div class='page-header'>
	<h3>Edit  Bank Account for <%= @company.name %></h3>
</div>

<%= render 'form' %>

<ul class="pager back-button">
	<li><%= link_to 'Back to Current Company', @company %></li>
</ul>
</div>









