<div class="page-header">
	<h3>New Bank Account for <%= @company.name %></h3>
</div>

<%= render 'form' %>

<ul class="pager back-button">
	<li><%= link_to 'Back To Current Company',  company_url(@company) %></li>
</ul>
