@import "bootstrap";



.container {	
    background-color: #82a43a; 
	border: 1px solid rgba(128, 128, 128, 0.28);
	border-radius: 5px;	
	min-height: 500px;
}

ul.pager{
	margin-left: 900px;
	font-size: 15px;
}

div.col-sm-10 label{
	font-weight:normal;
}

.bg-info{
	margin-left:200px;
    margin-top:25px;
}

.table{
	width: 60%;
}

.link{
	 text-align: right;
	 margin-bottom: 10px; 
	 margin-top:10px;
}