@import "bootstrap";
@import "_variables.scss";
@import "_mixins.scss";

html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #1567b9, #baecc7);
  font-family: sans-serif;
}

.container {
  @include center-div(900px);
}

.header {
  border-bottom: 1px solid #a6bff5;
  min-height: 100px;
  width: 100%;
  padding-bottom: 0;
  .header-container {
    position: relative;
    min-height: 100px;
    .header-title {
      color: $white-color;
      font-family: $main-font;
      font-size: 25px;
      font-weight: 100;
      position: absolute;
      bottom: 0;
    }
    .header-nav {
      color: $white-color;
      font-family: 'Open Sans', sans-serif;
      position: absolute;
      bottom: 0;
      right: 0;
      list-style-type: none;
    }
  }
}

ul {
  margin: 0;
  .header-nav-item {
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
  }
  .header-nav-item.active {
    border-bottom: 3px solid white;
  }
}

.panel {
  border-radius: 15px;
  background-color: $white-color;
  width: 100%;
}

.panel-header {
  border-bottom: 1px $border-color solid;
  padding: 20px;
  h3 {
    font-family: $main-font;
  }
}

.panel-body {
  width: 100%;
}

.pnl-footer {
  width: 100%;
  min-height: 40px;
  margin-bottom: 0;
  padding: 40px 0px;
  .btn-link{
    color: $border-color;
    font-family: $main-font;
    text-decoration: none;
    font-size: 20px;
  }
  .signin-icon{
    color: #129ac4;
    margin-top:2px;
    vertical-align: sub;
  }
  input[type="button" i]{
    outline: none;
  }
}

.login-form {
  width: 80%;
  margin: 20px auto;
}

.control-box {
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  margin-bottom: 20px;
  height: $line-height;
  line-height: $line-height;
  input {
    line-height: normal;
    border: none;
    width: 75%;
  }
  input:focus {
    outline: none;
    color: #5ba1d2;
  }
  .label-email,
  .label-pass {
    padding-left: 20px;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus{
  webkit-autofill: off;
}